/* General css */
img {
    height: auto;
    width: 100%;
}
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}
/* General css */

/*Custom banner*/
header{
    background: #F5F5F5;
}
.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.logo {
    max-width: 250px;
}
/*Custom banner*/