@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* General css */
:root{
    --font-body:  "Jost", sans-serif;
}
img {
    height: auto;
    width: 100%;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}
/* General css */

/*Custom banner*/
header{
    background: #F5F5F5;
}
.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
.logo {
    max-width: 200px;
    display: flex;
}
.right_btn a {
    background: #FFF544;
    font-family: var(--font-body);
    font-weight: 400;
    font-size: 15px;
    line-height: 40.61px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    padding: 0 25px;
    align-items: center;
    gap: 10px;
}
.right_btn a svg {
    width: 20px;
    height: 20px;
}
.right_btn a span {
    color: #000;
}
.subtext p {
    margin: 0;
    font-family: var(--font-body);
    font-weight: 400;
    font-size: 16.67px;
    line-height: 35.8px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
}
.custom-content .container {
    position: relative;
}
.custom-content-wrap {
    position: absolute;
    bottom: 0;
    background: #fff;
    max-width: 600px;
    padding: 30px 40px 30px 0
}
h1.banner_title {
    font-weight: 500;
    font-size: 65.78px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    font-family: var(--font-body);
    margin: 0;
}

.custom-content-inner p {
    font-weight: 400;
    font-size: 22.08px;
    line-height: 140%;
    letter-spacing: 0px;
    color: #000000;
    font-family: var(--font-body);
}
.bottom_banner {
    background: #F5F5F5;
    text-align: center;
    padding: 20px 0;
}
.content_bottom{
    color: #000;
     font-family: var(--font-body);
    font-weight: 400;
    font-size: 16.67px;
    line-height: 18px;
    letter-spacing: 0px;
}
/*Custom banner*/